@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; 
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
}

div.dt-layout-row.dt-layout-table.dt-layout-table {
    display: block;
}

.delete-btn{
    color: red;
    font-weight: bold;
    opacity: 0.6;

    
    &:hover {
        opacity: 1;
    }
}

.add-new-btn {
    color: green;
    font-weight: bold;
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
}

#myDialog[open]{
    display: flex;
    flex-direction: column;
}

.data-table-input{
    max-width: 100%;
    width: 100%;
}