@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; 
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
}

div.dt-layout-row.dt-layout-table.dt-layout-table {
    display: block;
}

.delete-btn{
    color: red;
    font-weight: bold;
    opacity: 0.6;

    
    &:hover {
        opacity: 1;
    }
}

#myDialog[open]{
    display: flex;
    flex-direction: column;
}


.dialog-footer{
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

.ag-root-wrapper-body, .ag-root  {
   width: 100%;
}

.ag-root-wrapper.ag-root-wrapper{
    border-radius: 0;
}
